<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<hr>
<p style="color: green"><%= notice %></p>

<strong>Your account: </strong>
<%= current_user.account.id%><br>
<strong>Your Name: </strong>
<%= current_user.account.name%><br>
<strong>Your account Balance: </strong>
<%= current_user.account.balance%>
<%= render "form", account: current_user.account %>
<hr>
<h2>You are nominee at :</h2>
<%Nominee.where(user_id: current_user.id).each do |a|%>
<div>
<strong>Account Id: </strong>
<%= a.account_id%>
</div>
<div>
<strong>Nominee Name:</strong>
<%= a.nominee_name%>
</div>
<div>
<strong>Percentage:</strong>
<%= a.percentage%>
</div><hr>
<%end%>                                                                
